<html>
    <head>
        <title>Ecommerce API</title>
        <link rel="stylesheet" href="/css/home.css">
      
    </head>
    <body>
        <div id="heading-div">
            <h1 id="heading">Ecommerce API</h1>
        </div>
        <main id="main-contant">
            <h3 id="sub-heading">This api is used to make the CRUD operations </h3>
            <p>
                <ul id="contant-list">
                    <li>
                        CREATE A PRODUCT
                    </li>
                    <li>
                        DELETE A PRODUCT
                    </li>
                    <li>
                        UPDATE A PRODUCT QUANTITY
                    </li>
                    <li>
                        GET THE PRODUCTS LIST
                    </li>
                </ul>
            </p>
            <div>
                <p>
                    <h6 class="operations-list">GET PRODUCTS LIST</h6>
                    <P class="operations-list links">http://localhost:8000/products</P>
                </p>
                <p>
                    <h6 class="operations-list">CREATE PRODUCT</h6>
                    <P class="operations-list links">http://localhost:8000/products/create</P>
                </p>
                <p>
                    <h6 class="operations-list">DELETE PRODUCT</h6>
                    <P class="operations-list links">http://localhost:8000/products/delete</P>
                </p>
                <p>
                    <h6 class="operations-list">UPDATE PRODUCT</h6>
                    <P class="operations-list links" >http://localhost:8000/products/update?id=6358fa8e0bce729bc044c9f0&number=38</P>
                </p>
            </div>


        </main>
        
    </body>
</html>